{% extends 'base.html' %} {% block content %}
<aside>
  <div class="title-aside">
    <p>Menú</p>
  </div>
  <div class="cont-filter">
    <div class="dropdown">
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Préstamos
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{{url_for('register_user.register')}}">Nuevo Libro</a>
      </div>
    </div>
  </div>
  <div class="cont-filter">
    <p>Multas</p>
  </div>
  <div class="cont-filter">
    <p>Inventario</p>
  </div>
  <div class="cont-filter">
    <p>Perfiles</p>
  </div>
  <div class="cont-filter">
    <p>Reportes</p>
  </div>
</aside>
<div class="cont-msg">
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
</div>
<form method="post" class="register-view">
  <div class="form-title">
    <h2>{% block title %}Registre Préstamo{% endblock %}</h2>
  </div>
  <hr />
  <fieldset>
    <select name="benef" id="benef">
      <option>--Seleccione Beneficiario --</option>
      <!-- {% if data.categorias %} {% for cat in data.categorias %} -->
      <option value=""></option>
      <!-- {% endfor %} {% endif %} -->
    </select>
    <hr />
    <select name="sede" id="sede">
      <option value="{{None}}">--Seleccione Sede --</option>
      <option value="{{data.sede}}">{{data.sede}}</option>
    </select>
    <hr />
    <select name="sede" id="sede">
      <option>--Seleccione Libro --</option>
      <option value="">X Libro</option>
    </select>
    <hr />
  </fieldset>
  <hr />
  <input class="btn btn-primary dropdown-toggle" type="submit" value="Registra Préstamo" />
</form>
<aside class="aside-options">
  <div class="title-aside">
    <p>Opciones</p>
  </div>
  <div class="cont-filter">
    <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#listarPrestamos">
      Listar Préstamos
    </button>
  </div>
  <div class="cont-filter">
    <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Editar Libro
    </button>
  </div>
  <div class="cont-filter">
    <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Eliminar Libro
    </button>
  </div>
  <div class="cont-filter">
    <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Asignar Stock por Sede
    </button>
  </div>
</aside>

<!-- Modal -->
<form
  method="post"
  class="modal fade"
  id="listarPrestamos"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Listar Por Beneficiario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select name="benef" id="benef">
          <option>--Seleccione Beneficiario --</option>
          <!-- {% if data.categorias %} {% for cat in data.categorias %} -->
          <option value=""></option>
          <!-- {% endfor %} {% endif %} -->
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</form>

{% endblock %}
