body {
  padding-bottom: 32px;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main aside {
  border: 1px solid dodgerblue;
  height: 100vh;
  width: 20%;
  min-width: 150px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

main .content {
  width: 80%;
  /* border: 1px solid blue; */
}

main aside .title-aside {
  width: 90%;
  padding: 5px;
  border-bottom: 1px solid dodgerblue;
  margin-bottom: 16px;
}

main aside .title-aside p {
  margin: 0;
  font-weight: 600;
  text-align: center;
}

.cont-cards {
  margin: 0;
  display: flex;
  padding: 0;
  padding-left: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 1px solid red; */
}

book-card {
  margin: 10px;
}

/********************* Register View Style ****************************/
.register-view {
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.register-view fieldset legend {
  /* border: 1px solid blue; */
  text-align: center;
}

.register-view fieldset {
  /* border: 1px solid blue; */
  width: 100%;
  text-align: center;
}

.register-view fieldset label {
  /* border: 1px solid blue; */
  width: 30%;
}
.register-view fieldset input {
  /* border: 1px solid blue; */
  width: 60%;
}

.aside-options .cont-filter,
aside .cont-filter {
  padding: 5px 0;
}

.aside-options .cont-filter button,
aside .cont-filter button {
  padding: 5px 0;
  width: 150px;
}

/****************** Main Dashboard *********************/
