{% extends 'base.html' %}
<h1>{% block title %}Home{% endblock %}</h1>
{% block content %}
<aside>
  <div class="title-aside">
    <p>Filtros de Búsqueda</p>
  </div>
  <div class="cont-filter">
    <p>Por Autor</p>
  </div>
  <div class="cont-filter">
    <p>Por Categoría</p>
  </div>
</aside>
<section class="content">
  <!-- Show messages to the user below -->
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  <div class="cont-cards">
    <!------ Start list of books below ------>
    {% for libro in libros %}
    <!-- Put 1 card web component here for render dynamically -->
    <!------ End list of books below ------>
  </div>

  {% if not loop.last %} {% endif %} {% endfor %} {% endblock %}
</section>
