{% extends 'base.html' %} {% block title %}{{data.perfil}}{% endblock %} {% block content %}
<aside>
  <div class="title-aside">
    <p>Menú</p>
  </div>
  <div class="cont-filter">
    <p>Préstamos</p>
  </div>
  <div class="cont-filter">
    <p>Multas</p>
  </div>
  <div class="cont-filter">
    <div class="dropdown">
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Inventario
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{{url_for('register_book.register')}}">Nuevo Libro</a>
      </div>
    </div>
  </div>
  <div class="cont-filter">
    <div class="dropdown">
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Perfiles
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{{url_for('register_user.register')}}">Nuevo Usuario</a>
      </div>
    </div>
  </div>
  <div class="cont-filter">
    <p>Reportes</p>
  </div>
</aside>
<section class="content">
  <!-- Show messages to the user below -->
  <div class="flash">{{ message }}</div>
  {% for message in get_flashed_messages() %} {% endfor %}
  <div class="cont-cards">
    <!------ Dashboard ------>
    <!------ End Dashboard ------>
  </div>
  <div class="register-view">
    <div class="form-title">
      <h2>Hola {{data.nombre}}</h2>
      <p>Ha ingresado con el perfil {{data.perfil}}</p>
      <p>Pertenece a la Sede {{data.sede}}</p>
    </div>
  </div>
</section>

{% endblock %}
