<!DOCTYPE html>
<head>
  <title>{% block title %}{% endblock %} - Borrowbooks</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/filtros.css') }}" />
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      {% block header %}
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <h1 class="fs-4">Borrowbooks</h1>
        </a>
      </div>
      <div class="col-md-3">
        
      </div>
      <div class="col-md-3 text-end">
        <a href="{{url_for('auth.login')}}"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
        {% if session['user_id'] %}
        <a href="{{url_for('auth.logout')}}"><button type="button" class="btn btn-primary">Log Out</button></a>
        {% endif %}
      </div>
      {% endblock %}
    </header>
  </div>
<main>
  {% block content %}{% endblock %}
</main>

    {% block footer %}
    <footer>
        <!-- Footer content here -->
    </footer>
    {% endblock %}

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/book-card.js') }}"></script>
</body>
</html>
