{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
  <fieldset>
    <legend>Identificación</legend>
    <label for="nombre">Nombre</label>
    <input name="nombre" id="nombre" required /><br />
    <label for="apellido_pat">Apellido Paterno</label>
    <input name="apellido_pat" id="apellido_pat" required /><br />
    <label for="apellido_mat">Apellido Materno</label>
    <input name="apellido_mat" id="apellido_mat" required /><br />
    <label for="run">R.U.N.</label>
    <input name="run" id="run" required /><br />
  </fieldset>
  <hr />
  <fieldset>
    <legend>Datos de Contacto</legend>
    <label for="fono">Número de teléfono</label>
    <input name="fono" id="fono" required /><br />
    <label for="email">Correo Electrónico</label>
    <input name="email" id="email" required /><br />
  </fieldset>
  <hr />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required /><br />
  <input type="submit" value="Register" />
</form>
{% endblock %}
